<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/orders.css">
    <meta charset="utf-8" />
</head>

<body>
    <div class="container">


        <div>
            <form action="delete" method="POST" style="display:inline;">
                <button type="submit">Delete all orders</button>
            </form>
        </div>
        {{!-- <div id="mydiv" hidden>
            <div class="no-orders">
                There are no orders here
            </div>
        </div> --}}
        <div class="accordion-body">
            <div class="accordion">
                <h2>Orders</h2>
                {{#each orders}}
                <div class="container">
                    <div class="label">{{date}}</div>
                    <div style="" class="content">
                        <div class="form-field">
                            Name: {{name}}
                        </div>
                        <div class="form-field">
                            Service: {{service}}
                        </div>
                        <div class="form-field">
                            City: {{city}}
                        </div>
                        <form action="delete/{{this.id}}" method="POST" style="display:inline;">
                            <input type="submit" value="Delete" />
                        </form>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>


    </div>

    <script>
        const accordion = document.getElementsByClassName('container');

        for (i = 0; i < accordion.length; i++) {
            accordion[i].addEventListener('click', function () {
                this.classList.toggle('active')
            })
        }

        /*let toggle = button => {
            let element = document.getElementById("mydiv");
            element.removeAttribute("hidden");
        }*/


    </script>
</body>
<html>