<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            font-family: 'Lato';
        }

        h1 {
            font-size: 2em;
            padding: 2em;
            text-align: center;
        }

        .accordion dl {}

        .accordion dt>a {
            text-align: center;
            font-weight: 700;
            padding: 2em;
            display: block;
            text-decoration: none;
            color: #fff;
            -webkit-transition: background-color 0.5s ease-in-out;
        }

        .accordion dd {
            background-color: #1abc9c;
            color: #fafafa;
            font-size: 1em;
            line-height: 1.5em;
        }

        .accordion dd>p {
            padding: 1em 2em 1em 2em;
        }

        .accordion {
            position: relative;
            background-color: #16a085;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 2em 0 2em 0;
        }

        .accordionTitle {
            background-color: #22313F;
            border-bottom: 1px solid #2c3e50;
        }

        .accordionTitle:before {
            content: "+";
            font-size: 1.5em;
            line-height: 0.5em;
            float: left;
            -moz-transition: -moz-transform 0.3s ease-in-out;
            -o-transition: -o-transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
        }

        .accordionTitle:hover {
            background-color: #2c3e50;
        }

        .accordionTitleActive {
            background-color: #34495e;
        }

        .accordionTitleActive:before {
            -webkit-transform: rotate(-225deg);
            -moz-transform: rotate(-225deg);
            transform: rotate(-225deg);
        }

        .accordionItem {
            height: auto;
            overflow: hidden;
        }

        @media all {
            .accordionItem {
                max-height: 50em;
                -moz-transition: max-height 1s;
                -o-transition: max-height 1s;
                -webkit-transition: max-height 1s;
                transition: max-height 1s;
            }
        }

        @media screen and (min-width: 48em) {
            .accordionItem {
                max-height: 15em;
                -moz-transition: max-height 0.5s;
                -o-transition: max-height 0.5s;
                -webkit-transition: max-height 0.5s;
                transition: max-height 0.5s;
            }
        }

        .accordionItemCollapsed {
            max-height: 0;
        }

        .animateIn {
            -webkit-animation-name: accordionIn;
            -webkit-animation-duration: 0.65s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-direction: normal;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-fill-mode: both;
            -webkit-animation-delay: 0s;
            -moz-animation-name: normal;
            -moz-animation-duration: 0.65s;
            -moz-animation-iteration-count: 1;
            -moz-animation-direction: alternate;
            -moz-animation-timing-function: ease-in-out;
            -moz-animation-fill-mode: both;
            -moz-animation-delay: 0s;
            animation-name: accordionIn;
            animation-duration: 0.65s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
            animation-delay: 0s;
        }

        .animateOut {
            -webkit-animation-name: accordionOut;
            -webkit-animation-duration: 0.75s;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-direction: alternate;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-fill-mode: both;
            -webkit-animation-delay: 0s;
            -moz-animation-name: accordionOut;
            -moz-animation-duration: 0.75s;
            -moz-animation-iteration-count: 1;
            -moz-animation-direction: alternate;
            -moz-animation-timing-function: ease-in-out;
            -moz-animation-fill-mode: both;
            -moz-animation-delay: 0s;
            animation-name: accordionOut;
            animation-duration: 0.75s;
            animation-iteration-count: 1;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            animation-fill-mode: both;
            animation-delay: 0s;
        }

        @-webkit-keyframes accordionIn {
            0% {
                opacity: 0;
                -webkit-transform: scale(0.8);
            }

            100% {
                opacity: 1;
                -webkit-transform: scale(1);
            }
        }

        @-moz-keyframes accordionIn {
            0% {
                opacity: 0;
                -moz-transform: scale(0.8);
            }

            100% {
                opacity: 1;
                -moz-transform: scale(1);
            }
        }

        @keyframes accordionIn {
            0% {
                opacity: 0;
                transform: scale(0.8);
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        @-webkit-keyframes accordionOut {
            0% {
                opacity: 1;
                -webkit-transform: scale(1);
            }

            100% {
                opacity: 0;
                -webkit-transform: scale(0.8);
            }
        }

        @-moz-keyframes accordionOut {
            0% {
                opacity: 1;
                -moz-transform: scale(1);
            }

            100% {
                opacity: 0;
                -moz-transform: scale(0.8);
            }
        }

        @keyframes accordionOut {
            0% {
                opacity: 1;
                transform: scale(1);
            }

            100% {
                opacity: 0;
                transform: scale(0.8);
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Orders</h1>

        <div class="accordion">

            <dl>
                {{#each transportations}}
                <dt><a class="accordionTitle" href="#">{{date delivery_date format="MMMM DD, YYYY"}}</a></dt>
                <dd class="accordionItem accordionItemCollapsed">
                    <div style="padding: 10px">
                        <p>Сustomer's name: {{name}}</p>

                        <p>Cargo: {{cargo}}</p>

                        <p>Truck: {{truck}}</p>

                        <p>City: {{city}}</p>
                    </div>
                </dd>
                {{/each}}
            </dl>

        </div>

    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

        (function (window) {
            'use strict';
            function classReg(className) {
                return new RegExp("(^|\\s+)" + className + "(\\s+|$)");
            }
            var hasClass, addClass, removeClass;

            if ('classList' in document.documentElement) {
                hasClass = function (elem, c) {
                    return elem.classList.contains(c);
                };
                addClass = function (elem, c) {
                    elem.classList.add(c);
                };
                removeClass = function (elem, c) {
                    elem.classList.remove(c);
                };
            }
            else {
                hasClass = function (elem, c) {
                    return classReg(c).test(elem.className);
                };
                addClass = function (elem, c) {
                    if (!hasClass(elem, c)) {
                        elem.className = elem.className + ' ' + c;
                    }
                };
                removeClass = function (elem, c) {
                    elem.className = elem.className.replace(classReg(c), ' ');
                };
            }

            function toggleClass(elem, c) {
                var fn = hasClass(elem, c) ? removeClass : addClass;
                fn(elem, c);
            }
            var classie = {
                hasClass: hasClass,
                addClass: addClass,
                removeClass: removeClass,
                toggleClass: toggleClass,
                has: hasClass,
                add: addClass,
                remove: removeClass,
                toggle: toggleClass
            };
            if (typeof define === 'function' && define.amd) {
                define(classie);
            } else {
                window.classie = classie;
            }
        })(window);
        var $ = function (selector) {
            return document.querySelector(selector);
        }
        var accordion = $('.accordion');
        accordion.addEventListener("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            if (e.target && e.target.nodeName == "A") {
                var classes = e.target.className.split(" ");
                if (classes) {
                    for (var x = 0; x < classes.length; x++) {
                        if (classes[x] == "accordionTitle") {
                            var title = e.target;
                            var content = e.target.parentNode.nextElementSibling;
                            classie.toggle(title, 'accordionTitleActive');
                            if (classie.has(content, 'accordionItemCollapsed')) {
                                if (classie.has(content, 'animateOut')) {
                                    classie.remove(content, 'animateOut');
                                }
                                classie.add(content, 'animateIn');
                            } else {
                                classie.remove(content, 'animateIn');
                                classie.add(content, 'animateOut');
                            }
                            classie.toggle(content, 'accordionItemCollapsed');
                        }
                    }
                }
            }
        });
    </script>
</body>
<html>